@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --c1: #FFFFFF; /* Background */
    --c2: #8A20B1; /* Header and Nav */
    --c3: #66C0F4; /* Button and Highlights */
    --c4: #C7D5E0; /* Light text */
    --c5: #4A6782; /* Light background for cards */
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
}

body {
    min-height: 100vh;
    font-family: "Roboto Sans", sans serif;
    background: var(--c1);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 1px 2px 10px black;
    padding: 10px;
    align-items: center;
    background-color: var(--c2);
    margin-bottom: 20px;
    margin-top: 0;
}